altgraph==0.17.4
amqp==5.1.1
ansible==7.1.0
ansible-core==2.14.1
asgiref==3.7.2
asttokens==2.2.1
awscli==1.32.17
backcall==0.2.0
billiard==3.6.4.0
boto3==1.28.36
botocore==1.34.17
celery==5.0.5
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
comm==0.1.2
cryptography==38.0.4
debugpy==1.6.5
decorator==5.1.1
Django==5.0
docutils==0.16
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
Flask==2.2.2
GRP-sample-app==0.0.2
gunicorn==21.2.0
idna==3.4
influxdb==5.3.1
influxdb-client==1.37.0
ipykernel==6.20.1
ipython==8.8.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
jupyter_client==7.4.8
jupyter_core==5.1.3
kombu==5.2.4
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
msgpack==1.0.5
nest-asyncio==1.5.6
numpy==1.26.2
openpyxl==3.1.2
packaging==22.0
pandas==2.1.4
parso==0.8.3
pefile==2023.2.7
pickleshare==0.7.5
platformdirs==2.6.2
prompt-toolkit==3.0.36
psutil==5.9.4
psycopg==3.1.16
psycopg2==2.9.9
pure-eval==0.2.2
py-xmlparser==1.0.1
pyasn1==0.5.1
pycparser==2.21
Pygments==2.14.0
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
python-dateutil==2.8.2
pytz==2022.6
pywin32==305
pywin32-ctypes==0.2.2
PyYAML==6.0
pyzmq==24.0.1
reactivex==4.0.4
requests==2.28.1
resolvelib==0.8.1
rsa==4.7.2
s3transfer==0.10.0
six==1.16.0
sqlparse==0.4.2
stack-data==0.6.2
tornado==6.2
traitlets==5.8.1
typing_extensions==4.7.1
tzdata==2022.2
urllib3==1.26.12
vine==5.0.0
waitress==2.1.2
wcwidth==0.2.5
Werkzeug==2.2.2
